.header {
  display: flex;
  justify-content: space-between;
  padding: 6px;
}

.logo {
  order: 2;
}

.nav .nav-list {
  display: flex;
}

.nav .nav-item {
  margin: 0 3px;
}

.contents {}

.panel-group {
  display: flex;
  flex-wrap: wrap;
}

.panel-group .panel {
  position: relative;
  flex: 1;
  margin: 3px;
  padding-top: 40%;
}

.panel-group .panel-wide {
  min-width: 100%;
}
.panel-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.panel-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
}

.panel-source {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
  z-index: -1;
}

.panel-source img,
.panel-source video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  vertical-align: top;
}